@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar Width */
::-webkit-scrollbar {
    width: 5px; /* Width of vertical scrollbar */
    height: 8px; /* Height of horizontal scrollbar */
}


/* Track */
::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #7f1d1d;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4c1111;
}

.blur-overlay {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  mask-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,0) 55%);
  -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,0) 55%);
}

